.Player-controls{
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    gap: 20px;
    align-items: center;

    svg {
        color: #b3b3b3;
        transition: 0.3s;
        
        &:hover {
            color: #fff;
        }
    }

    .state{
        svg{
            color: #fff;
            width: 32px;
            height: 32px;
        }
    }
}